
<div class="modal fade" id="modal{{ id }}" tabindex="-1" aria-labelledby="modal{{ id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression d'élément</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                êtes vous sur de vouloir supprimer cette élément de manière définitive
            </div>
            <div class="modal-footer">
                <a href="{{ path(redirect, {'id': id}) }}" type="button" class="btn btn-warning">Supprimer</a>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>