{% extends 'front/base.html.twig' %}
{% block title %}Protection des données{% endblock %}

{% block body %}

    <section class="container text-start markDownStyle">
        {% apply markdown_to_html %}
            ## 1 Informations générales

            #### 1.1 Données à caractère personnel
            Par « données à caractère personnel », on entend toute information se rapportant à une personne physique identifiée ou identifiable. Ces informations comprennent toutes celles qui concernent votre identité, telle que votre nom, votre adresse électronique ou postale. Les informations qui ne nous permettent pas d’établir un lien avec votre identité (par exemple, des informations statistiques sur le nombre d’utilisateurs du site) ne sont pas des données à caractère personnel.

            D’une façon générale, vous pouvez utiliser notre site sans révéler votre identité et sans indiquer aucune donnée à caractère personnel. Dans ce cas, nous ne collectons que des informations générales sur la visite de notre site. Pour la fourniture de certains services, nous sommes toutefois amenés à collecter des données à caractère personnel. Nous ne traitons celles-ci qu’aux fins liées à l‘utilisation du site, notamment pour vous transmettre les informations que vous pouvez nous demander. Dans le cadre de la collecte de données à caractère personnel, seule la communication des données dont nous avons impérativement besoin est obligatoire. La communication d‘autres données éventuellement demandées est facultative. Nous vous indiquons systématiquement si la communication des données est obligatoire ou facultative. Vous trouverez les détails au chapitre correspondant de la présente politique de confidentialité. Dans le cadre de l’utilisation de notre site, vos données à caractère personnel ne donnent lieu à aucune prise de décision automatisée.



            #### 1.2 Traitement des informations à caractère personnel
            Nous conservons vos données sur des serveurs hautement sécurisés. Ceux-ci sont installés dans l’Union européenne et protégés par des mesures techniques et organisationnelles contre la perte, la destruction, l’accès, l’altération et la diffusion de vos données par des personnes non autorisées. Seules quelques personnes dûment autorisées, chargées de la gestion technique, commerciale ou rédactionnelle des serveurs peuvent accéder à vos données. Toutefois, bien que des contrôles soient régulièrement effectués, une protection contre tous les risques ne peut être garantie. Vos données à caractère personnel sont transférées sur Internet après avoir été chiffrées. Pour le transfert des données, nous utilisons un chiffrement SSL (Secure Socket Layer).





            #### 1.3 Communication de données à caractère personnel à des tiers
            D’une façon générale, nous n’utilisons vos données à caractère personnel que pour la fourniture des prestations que vous nous demandez. Si, dans le cadre de cette fourniture, nous faisons appel à des prestataires extérieurs, ceux-ci n’accèdent à vos données que dans la mesure où cela est nécessaire à la réalisation des prestations. Nous prenons des mesures techniques et organisationnelles pour assurer le respect des obligations prévues en matière de protection des données et imposons ce respect à nos prestataires extérieurs.

            Sans votre consentement formel, nous ne transmettons vos données à aucun tiers. Vos données ne sont notamment pas transmises à des fins publicitaires. Ce n’est que si vous avez donné votre consentement ou si la loi et/ou une décision administrative ou judiciaire nous le permet ou nous l’impose que nous transmettons vos données à caractère personnel, notamment en cas de demande d’informations destinées à engager des poursuites pénales, à prévenir des risques ou à faire respecter des droits de propriété intellectuelle. Dans la mesure où nous transmettons vos données à caractère personnel dans des États à l’extérieur de l’Union européenne, par nous-mêmes ou par l’intermédiaire de prestataires, nous respectons en ce sens les prescriptions spéciales des articles 44 et suivants du RGPD et obligeons aussi nos prestataires à respecter ces réglementations. Nous transmettrons donc vos données dans des États à l’extérieur de l’Union européenne uniquement sous réserve du respect d’un niveau de protection garanti par le RGPD. Ce niveau de protection est garanti notamment par une décision d’adéquation de la Commission européenne ou par des garanties appropriées selon l’article 46 du RGPD.



            #### 1.4 Bases juridiques du traitement des données
            Le traitement de vos données à caractère personnel est fondé sur l‘article 6, paragraphe 1 a) du RGPD si nous avons obtenu votre consentement. Le traitement de vos données à caractère personnel est fondé sur l‘article 6, paragraphe 1 b) du RGPD s’il est nécessaire à l’exécution d’un contrat ou dans le cadre d’un rapport quasi-contractuel. Le traitement de vos données à caractère personnel est fondé sur l‘article 6, paragraphe 1 c) du RGPD s’il est nécessaire au respect d’une obligation légale.

            Le traitement de vos données à caractère personnel peut être fondé sur l‘article 6, paragraphe 1 f) du RGPD s’il est nécessaire aux fins des intérêts légitimes poursuivis par notre société ou par un tiers et que vos intérêts ou vos libertés et droits fondamentaux n’exigent pas la protection de ces données.

            Dans la présente politique de confidentialité, nous indiquons la base juridique sur laquelle nous traitons vos données à caractère personnel dans les différentes situations.



            #### 1.5 Effacement des données et délai de conservation
            Nous procédons systématiquement à l’effacement ou au verrouillage de vos données à caractère personnel dès que la finalité de leur conservation a disparu. Toutefois, les données peuvent être conservées plus longtemps si cela est prévu par des dispositions légales auxquelles nous sommes soumises, par exemple, pour respecter des obligations de conservation et de documentation imposées par la loi. Dans ce cas, vos données à caractère personnel sont effacées ou verrouillées dès la fin du délai prévu par la loi.


            ## 2 Enregistrement, utilisation et transmission des données lors des commandes
            Pour la livraison des produits commandés, nous communiquons vos coordonnées (nom et adresse) au transporteur chargé de cette prestation. Ce traitement de vos données à caractère personnel est nécessaire à l’exécution du contrat conclu avec vous et donc fondé sur l‘article 6, paragraphe1 b) du RGPD.

            Nous conservons vos données relatives à la commande aussi longtemps qu’elles sont nécessaires à l’exécution du contrat. Au-delà de cette durée, nous les conservons pour respecter nos obligations post-contractuelles et les délais de conservation prévus par la législation commerciale et fiscale. En règle générale, le délai de conservation est de dix ans à compter de la fin de l’année civile considérée.

            ## 3 Compte La Nîmes'alerie
            Vous pouvez vous enregistrer de plein gré pour utiliser nos offres. Toutes les informations sur votre personne et l’utilisation des différentes offres de La Nîmes'alerie et des partenaires proposant également une utilisation du compte La Nîmes'alerie sont gérées de manière centralisée dans un compte La Nîmes'alerie. Vous avez ainsi la possibilité de gérer vos données, de les actualiser et de les supprimer en cas de besoin. La base juridique pour le traitement des données servant à l’enregistrement, en cas de consentement, est l’article 6, paragraphe 1, point a), du RGPD. Si vous vous enregistrez chez nous à des fins d’exécution ou de conclusion d’un contrat, la base juridique pour le traitement des données est en plus l’article 6, paragraphe 1, point b) du RGPD.


            #### 3.1 Inscription au compte client La Nîmes'alerie
            Vous avez la possibilité de vous inscrire en ligne sur notre site. Pour créer un compte La Nîmes'alerie, il suffit d’entrer une adresse électronique, un nom d'utilisateur et de le sécuriser via un mot de passe. La Nîmes'alerie se réserve le droit de proposer d’autres options d’inscription en plus de l’inscription en ligne, auxquelles s’appliquent alors les mêmes règles.


            #### 3.2 Importation de données dans le compte La Nîmes'alerie
            Vous avez la possibilité d’importer dans votre compte La Nîmes'alerie des données préalablement saisies sur La Nîmes'alerie. Si vous acceptez l’importation de vos données, La Nîmes'alerie recherchera d’autres données vous concernant sur la base de vos informations dans votre compte La Nîmes'alerie, collectées de manière distincte auprès de La Nîmes'alerie et les transférera automatiquement sur votre compte La Nîmes'alerie. Vous aurez ainsi une vue d’ensemble de vos données et pourrez les gérer uniformément via le compte La Nîmes'alerie. Pour des raisons techniques, une fois qu’une importation a été effectuée, elle ne peut être annulée. Cependant, la désactivation complète du compte La Nîmes'alerie reste possible.
        {% endapply %}
    </section>


{% endblock %}
