{% extends 'front/base.html.twig' %}

{% block title %}Elon Musk{% endblock %}

{% block body %}
    <section class="container ContentSpace text-start">
        <img class="spaceImgBanner mb-5" src="{{ asset('build/images/space/musk-banniere.jpg') }}">
        <h2>La Nîmes'alerie envoye vos compagnons dans l'espace</h2>

        <p class="mb-5">Cake biscuit halvah caramels candy candy canes jelly croissant gingerbread. Bear claw caramels gingerbread sugar plum marshmallow marzipan croissant. Chocolate bar donut apple pie dessert tart bonbon. Cheesecake ice cream pastry pastry jelly. Cheesecake cotton candy marshmallow gummi bears carrot cake marzipan wafer brownie ice cream. Jelly macaroon caramels cookie jelly shortbread powder tart apple pie. Topping danish tiramisu wafer dragée carrot cake cake soufflé caramels. Toffee pastry powder macaroon powder soufflé carrot cake biscuit liquorice. Gingerbread cupcake apple pie dragée sweet ice cream gummi bears ice cream. Cookie muffin sugar plum cake gingerbread. Donut sweet roll liquorice pastry jelly carrot cake soufflé. Oat cake sweet roll sweet bonbon jelly dragée sweet roll gummies danish.</p>

        <div class="row mb-5">
            <img class="col-7" src="{{ asset('build/images/space/space-rocket.jpg') }}">
            <div class="col-5">
                <h2>Les nouvelles fusées spaceX</h2>
                <p>Tootsie roll jelly beans caramels marzipan biscuit lollipop soufflé. Sweet roll muffin carrot cake chocolate cake croissant cupcake ice cream carrot cake chocolate. Bonbon candy oat cake gummi bears wafer biscuit. Sugar plum powder icing fruitcake marshmallow sesame snaps tart chocolate bar tootsie roll. Chupa chups sesame snaps icing sweet cupcake soufflé candy canes caramels tootsie roll. Cake croissant icing danish tootsie roll. Sweet cake pudding icing halvah wafer. Chocolate cookie tart gummi bears danish sesame snaps cake. Jujubes pastry jelly soufflé cheesecake. Marshmallow jelly chocolate cake croissant macaroon pudding muffin powder. Brownie caramels topping croissant lollipop cotton candy candy canes. Gingerbread muffin biscuit apple pie sugar plum pastry. Jelly-o ice cream dessert lemon drops sugar plum dessert candy canes chocolate cake.</p>
                <a class="lna_btn_main lna_btn_fade_color" href="https://www.spacex.com/vehicles/falcon-9/" target="_blank">En savoir d'anvantage</a>
            </div>

        </div>

        <div class="row">
            <div class="col-6">
                <h2>Le remake de la planète des singes</h2>
                <p>Tootsie roll jelly beans caramels marzipan biscuit lollipop soufflé. Sweet roll muffin carrot cake chocolate cake croissant cupcake ice cream carrot cake chocolate. Bonbon candy oat cake gummi bears wafer biscuit. Sugar plum powder icing fruitcake marshmallow sesame snaps tart chocolate bar tootsie roll. Chupa chups sesame snaps icing sweet cupcake soufflé candy canes caramels tootsie roll. Cake croissant icing danish tootsie roll. Sweet cake pudding icing halvah wafer. Chocolate cookie tart gummi bears danish sesame snaps cake. Jujubes pastry jelly soufflé cheesecake. Marshmallow jelly chocolate cake croissant macaroon pudding muffin powder. Brownie caramels topping croissant lollipop cotton candy candy canes. Gingerbread muffin biscuit apple pie sugar plum pastry. Jelly-o ice cream dessert lemon drops sugar plum dessert candy canes chocolate cake.</p>
                <a class="lna_btn_main lna_btn_fade_color" href="{{ path('app_home') }}">Retour a la page d'accueil</a>
            </div>
            <img class="col-6" src="{{ asset('build/images/musk_space_part.e6430499.png') }}">
        </div>

    </section>
{% endblock %}



