{% extends 'front/base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <section class="container listProduct">
        <div class="row">
            <div class="col-12 col-lg-3">
                {{ form_start(filters) }}
                {{ form_end(filters) }}
            </div>
            <div class="col-12 col-lg-9 d-flex flex-wrap justify-content-center">
                    {% for product in products %}
                        {% dump product %}
                            {% include 'front/partial/productCard/productCard.html.twig' with {
                                'product': product[0],
                                'average': product['average'],
                            } %}
                    {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
