.card {
    background-color: white;
    padding: 0;
    border: 0;
    box-shadow: $shadow_main;
    width: 100%;
    height: 320px;
    margin-bottom: 1rem;

    .card-illustration {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
    
        .lna_carousel_img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            
            &.img_crocs{

                background-image: url(../img/caroussel/caroussel_crocs_responsive.png);
                
            }
            
            &.img_space{

                background-image: url(../img/caroussel/caroussel_space_responsive.png);

            }

        }

        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            flex-direction: column;

            span{
                font-family: $headings_product;
                font-size: 1.4rem;
                padding: .5rem .5rem 1.3rem .5rem;

            }

            p{
                margin: 0;
                display: inline-block;
                padding-top: 1.3rem;
                font-family: $headings_product;
                font-size: 3rem;
            }

        }

    }

}