
<div class="lna_product_item product_item"> {# todo display des cards #}
    <img src="{{ asset('build/images/opinion/cat.png') }}" alt="photo d'un client"> {# todo photo du client #}
    <p>loremljlhf ufhsd jfhsdlk jfsqdjkffg hsdkjfhsoif iouagz emfij zskljhfgqsd ufujazioh fiosdlkjfioy aizug fkjqsdnf lmsdh hfiu ah^pozfjh sdkljgh f</p> {# todo avis #}
    <p><b>Michel</b></p> {# todo nom du client #}
</div>

<div class="lna_product_item product_item d-sm-none d-md-block"> {# todo display des cards #}
    <img src="{{ asset('build/images/opinion/cat.png') }}" alt="photo d'un client"> {# todo photo du client #}
    <p>loremljlhf ufhsd jfhsdlk jfsqdjkffg hsdkjfhsoif iouagz emfij zskljhfgqsd ufujazioh fiosdlkjfioy aizug fkjqsdnf lmsdh hfiu ah^pozfjh sdkljgh f</p> {# todo avis #}
    <p><b>Michel</b></p> {# todo nom du client #}
</div>

<div class="lna_product_item product_item d-sm-none d-lg-block"> {# todo display des cards #}
    <img src="{{ asset('build/images/opinion/cat.png') }}" alt="photo d'un client"> {# todo photo du client #}
    <p>loremljlhf ufhsd jfhsdlk jfsqdjkffg hsdkjfhsoif iouagz emfij zskljhfgqsd ufujazioh fiosdlkjfioy aizug fkjqsdnf lmsdh hfiu ah^pozfjh sdkljgh f</p> {# todo avis #}
    <p><b>Michel</b></p> {# todo nom du client #}
</div>

<div class="lna_product_item product_item d-sm-none d-xl-block"> {# todo display des cards #}
    <img src="{{ asset('build/images/opinion/cat.png') }}" alt="photo d'un client"> {# todo photo du client #}
    <p>loremljlhf ufhsd jfhsdlk jfsqdjkffg hsdkjfhsoif iouagz emfij zskljhfgqsd ufujazioh fiosdlkjfioy aizug fkjqsdnf lmsdh hfiu ah^pozfjh sdkljgh f</p> {# todo avis #}
    <p><b>Michel</b></p> {# todo nom du client #}
</div>