#connectionModal, #inscriptionModal{
    background-color: rgba(0, 0, 0, 0.432);
    
    .modal-body{
        .btn-close{
            position: absolute;
            top: .5rem;
            right: .5rem;
        }

        h5{
            font-family: $main !important;
            font-size: 1.5rem;
            margin-top : 1.5rem;
            margin-bottom: 2rem;
        }

        form{

            width: 70%;
            margin: auto;
            margin-bottom: 1rem;

            .passwordInput, form-group{
                margin-bottom: 2rem;
            }

            .passwordInput{
                position: relative;

                input{
                    padding-right: 3rem;
                }

                #togglePassword{
                    cursor: pointer;
                    @include bg_img_parameter;
                    width: 40px;
                    height: 40px;
                    background-size: 25px;
                    position: absolute;
                        top: 0;
                        right: .2rem;
                        font-size: 1.5rem;
                        background-color: rgba(255, 255, 255, 0);
                        border: 0;
    
                    &.see{
                        background-image: url('../img/icon/connection/view.png');
                    }
                    &.hide{
                        background-image: url('../img/icon/connection/hidden.png');
                    }
                }
            }
        }

        p{
            font-family: $headings_product;
            color: $search;

            a{
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}


#inscriptionModal > div > div > div > form > div:nth-child(2), #inscriptionModal > div > div > div > form > div:nth-child(3){
    margin-bottom: 24px !important;
    font-size: 1rem;

    input::placeholder{
        font-size: 1rem;
        font-weight: 400;
    }
}


body > div{
    display: none;
}
