.myModal{
    position : absolute;
    top: 90px;
    right: -125px;
    background-color: white;
    width: 350px !important;
    height: fit-content !important;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    border-radius: 7px;
    padding: 1.5rem;
    cursor: auto !important;

    @media screen and (max-width:1200px) {
        right: -110px;
    }

    @media screen and (max-width:992px) {
        top: 65px;
        right: -65px;
        width: 338px !important;
    }
    @media screen and (max-width:768px) {
        right: -210px;
    }
    @media screen and (max-width:576px) {
        right: -204px;
    }

    .myModalBody{

        .myModalItem{
            display: flex;
            align-items: center;
            border-bottom: 1px solid $search;
            text-align: left;
            margin-bottom: .5rem;
            padding-bottom: .5rem;
            position: relative;

            img{
                width : 80px;
            }

            .myModalResumeProduct{

                margin-left: 1rem;
                
                .myModalTopResume{

                    p:first-child{
                        font-weight: bold;
                    }
                    margin-bottom: 1rem;
                }

                p{
                    margin: 0;
                }

                .myModalBottomResume{
                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .myModalQuantity{
                        color: $search;
                        font-size: .8rem;
                    }
    
                    .myModalPriceProduct{
                        color: $price;
                        font-weight: bold;
                        font-size: 1.3rem;
                    }
                }
            }

            .myModalDeleteProduct{
                position: absolute;
                top: 0;
                right: 0;
                @include bg_img_parameter;
                width: 25px;
                height: 25px;
                background-image: url('../../images/icon/panier/been.png');

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .myModalPrice{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .myModalDelivery, .myModalTotalPrice{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: auto;

                p{
                    margin: 0;
                }
            }

            .myModalDelivery{
                margin-bottom: .5rem;
            }

            .myModalTotalPrice{
                margin-bottom: 1rem;

                p{
                    font-weight: bolder;
                }

                p:last-child{
                    color: $price;
                    font-size: 1.3rem;
                }
            }
        }

        .lna_btn_main{
            width: 100%;
            border-radius: 10px;
        }
    }
}