.gestionDeCompteModal{
    position : absolute;
    top: 90px;
    right: -50px;
    background-color: white;
    width: 196.76px !important;
    height: fit-content !important;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    border-radius: 7px;
    padding: 2rem;
    cursor: auto !important;

    @media screen and (max-width:992px) {
        top: 65px;
        right: -65px;
    }
    @media screen and (max-width:768px) {
        right: -138px;
    }

    .myModalBody{
        ul{
            padding: 0 !important;
            margin: 0 !important;

            li{
                text-align: left;
                list-style: none;
                margin-bottom: 1rem;

                &:last-child{
                    margin-bottom: 0;
                }
    
                a{
                    font-weight: bold;
                    font-size: .9rem;
                }
                &:hover{
                    @include text_fade;
                }
            }
            
            div{
                border-bottom: 1px solid rgba(61, 61, 61, 0.344);
                margin-bottom: 1rem;
                width: 45px;
            }
        }
    }
}