
<a href="#" class="lna_card {# todo lien vers les produits de la marque #}
{% if iteration == 3 %} d-none d-md-block
{% elseif iteration == 4 %} d-none d-lg-block
{% elseif iteration == 5 %} d-none d-xl-block
{% elseif iteration == 6 %} d-none d-xxl-block
{% endif %}">
    <img src="{{ asset('build/images/mark/' ~ mark.pathImage) }}" alt="logo de marques">
</a>
