section#client_opinion{
    
    .lna_container_flex{
        height: 320px;
        justify-content: center;


        @media screen and (min-width:575px){
                    
            overflow: visible;
        }
        
        .lna_product_item{
            min-width: 300px;
            max-width: 300px;
            margin-right: 1rem;
            margin-left: 1rem;
            padding: .7rem;
            text-align: left !important;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            border-radius: 1rem;
    
            img{
                width: 107px;
                height: 107px;
                padding: 1rem;
            }
            .star{
                i{
                    font-size: 1.2rem;
                }
            }
    
            .avisTitle{
                font-size: 1.5rem;
                margin: 0;
            }
    
            .comment{
                font-size: .9rem;
                line-height: 1.3rem;
            }
        }
    }
}