footer{
    background-color: $footer;
    padding-top: 1rem;

    a{
        color: $dark;
    }

    .paiement_delivery{

        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $dark;

        div{
            
            @media screen and (min-width:768px){
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: .5rem;

                &:last-child{
                    margin: 0;
                }
            }
            p{
                
                font-size: 1.12rem;
                font-weight: bold;

                @media screen and (min-width:768px){
                    padding-right: 1.5rem;
                }

                &::before{
                    content: "";
                    width: 32px;
                    height: 32px;
                    @include bg_img_parameter;
                    margin-right: 1rem;
                    position: relative;
                    top: 9px;
                }

                &.lna_footer_safe::before{
                    background-image: url(../../images/icon/header/safety_certificate.svg);
                }

                &.lna_footer_delivery::before{
                    background-image: url(../../images/icon/header/expedition.svg);
                }
            }

            div{
                @include bg_img_parameter;
                width: 340px;
                height: 40px;

                &.payment{
                    background-image: url(../../images/payment.png);
                }

                &.chrono{
                    background-image: url(../../images/delivery_chrono.png);
                    width: 180px;
                    height: 40px;
                    margin-right: 1rem;
                }

                &.poste{
                    background-image: url(../../images/delivery_poste.png);
                    width: 130px;
                    height: 50px;
                }
            }

            &:last-child p{
                margin-bottom: .6rem;
            }
        }
    }

    .newsletter{

        margin-bottom: 3rem;

        @media screen and (min-width:768px){
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        p{
            font-family: $headings_product;
            font-size: .9rem;

            @media screen and (min-width:768px){
                margin: 0;
                margin-right: 2rem;
            }
        }

        .form-control{
            width: 330px;
        }

        form{
            margin-left: auto;
            margin-right: auto;
            width: 330px;
            
            @media screen and (min-width:768px){
                margin: 0;
            }
            
            .btn {
                height: 44.19px;
                top: 1px;
            }
        }
    }


    .footer_link{
        text-align: left;

        > div {

            display: flex;
            flex-direction: column;

            @media screen and (min-width:575px){
                padding-right: 1rem;

                &:last-child{
                    padding-right: 0;
                }
            }

            p{
                margin-bottom: 0;
            }

            a{

                &::after{
                    content: "";
                    @include bg_img_parameter;
                    width: 8px;
                    height: 14px;
                    background-image: url(../../images/icon/fleche.svg);
                    margin-left: .5rem;
                    position: relative;
                    top: 2.5px;
                }
                
                &:hover{
                    @include text_fade;
                }
            }

            &:last-child a::after{
                display: none;
            }

            &:first-child, &:nth-child(2), &:nth-child(3){
                margin-bottom: 3rem;
            }
            
        }

        
    }
    .social_link{

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 1rem;

        .social_img{

            @include bg_img_parameter;
            width: 50px;
            height: 50px;
            margin-right: 1rem;
            transition: ease-in-out .2s;

            &:last-child{
                margin-right: 0;
            }

            &.in{
                background-image: url(../../images/icon/footer/instagram.svg);
            }

            &.ln{
                background-image: url(../../images/icon/footer/linkedin.png);
            }

            &.fb{
                background-image: url(../../images/icon/footer/facebook.svg);
            }

            &.in:hover{
                background-image: url(../../images/icon/footer/instagramHover.png);
            }

            &.ln:hover{
                background-image: url(../../images/icon/footer/linkedinHover.png);
            }

            &.fb:hover{
                background-image: url(../../images/icon/footer/facebookHover.png);
            }
        }
    }

    .banner{
        @include gradient_banner;
        height: 2rem;
    }
}