section#space{

    text-align: left;
    margin-bottom: 6rem;

    @media screen and (min-width:992px){            
        margin-bottom: 7rem;
    }

    @media screen and (min-width:1200px){            
        margin-bottom: 9rem;
    }

    .lna_space_flex{

        display: flex;
        flex-direction: column;

        @media screen and (min-width:575px){
            align-items: center;
        }



        .lna_overflow_img{
            width: 100%;
            height: 300px;
            overflow-x: hidden;
            position: relative;

            @media screen and (min-width:575px){
                overflow: visible;
                height: 350px;
            }

            @media screen and (min-width:768px){
                height: 410px;
            }

            @media screen and (min-width:992px){   
                height: 80px;
            }


            .lna_space_img{
                @include bg_img_parameter;
                background-size: cover;
                width: 280px;
                height: 202px;
                background-image: url(../../images/musk_space_part.png);

                @media screen and (min-width:575px){
                    width: 360px;
                    height: 260px;
                    margin-left: 10%;
                }

                @media screen and (min-width:768px){
                    width: 440px;
                    height: 318px;
                }

                @media screen and (min-width:992px){
                    width: 600px;
                    height: 478px;
                    position: absolute;
                    margin-left: 0;
                    left: -110px;
                    transform: translateX(-60%);
                }

                @media screen and (min-width:1200px){
                    width: 700px;
                    height: 578px;
                    left: -130px;
                }
            }
            .lna_space_dog_img{
                @include bg_img_parameter;
                width: 165px;
                height: 175px;
                background-image: url(../../images/musk_dog_part.png);
                position: absolute;
                right: -60px;
                bottom: 0px;
                z-index: -1;

                @media screen and (min-width:575px){
                    position: relative;
                    right: -370px;
                    bottom: 100px;
                }

                @media screen and (min-width:768px){
                    width: 215px;
                    height: 225px;
                    right: -470px;
                    bottom: 100px;
                }

                @media screen and (min-width:992px){
                    width: 305px;
                    height: 315px;
                    bottom: -360px;
                    left: 70px;
                }

                @media screen and (min-width:1200px){
                    width: 355px;
                    height: 365px;
                    bottom: -350px;
                    left: 90px;
                }

                @media screen and (min-width:1400px){
                    width: 435px;
                    height: 445px;
                    bottom: -270px;
                    left: 90px;
                }

            }
        }

        .lna_overflow_text{

            position: relative;
            width: 330px;
            height: 400px;
            margin-bottom: -10px;

            @media screen and (min-width:575px){
                width: 100%;
                height: 250px;
            }

            @media screen and (min-width:992px){
                margin-bottom: 250px;
                width: 50%;
                float: right;
            }

            article{
                
                position: absolute;
                top: -20px;
                
                @media screen and (min-width:575px){

                    top: -70px;
                }

                h3{
                    font-size: 1.7rem;
                    margin-bottom: 1.5rem;
                    font-family: $main;

                    @media screen and (min-width:575px){
                    
                        width: 390px;
                    }

                    @media screen and (min-width:768px){
                    
                        width: 440px;
                    }

                    @media screen and (min-width:992px){
                    
                        width: 100%;
                    }
                }
    
                p{
                    line-height: 1.3rem;
                    margin: 0;
                    margin-right: 1rem;
                }
            }
        }
    }
}