{% extends 'back/base.html.twig' %}

{% block title %}Ajouter une marque{% endblock %}

{% block body %}
    <h1>Ajouter une marque</h1>

    {{ include('back/mark/_form.html.twig') }}

{% endblock %}
