{% extends 'back/base.html.twig' %}

{% block title %}Modifier une commande{% endblock %}

{% block body %}
    <h1>Modifier une commande</h1>

    {{ include('back/ordered/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_ordered') }}">back to list</a>
{% endblock %}
